* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {

	background-color: #f3f3f3;
}

.main {
	width: 100vw;
	height: 100vh;
}

.main .btn-section {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
	flex-wrap: wrap;
}

.btn {
    background-color: #000;
    border: none;
    border-radius: 30px;
	color: #fff;
    font-size: 16px;
    outline: none;
    padding: 20px 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;
}

.btn:hover {
	box-shadow: 5px 5px 10px #000;
	cursor: pointer;
	transform: translateY(-5px);
	opacity: .7;
}

.btn--success {
	background-color: green;
}

.btn--warning {
	background-color: orange;
}

.btn--danger {
	background-color: red;
}

.btn--disabled {
	background-color: #ccc !important;
	box-shadow: none !important;
	cursor: not-allowed !important;
	color: #000 !important;
	opacity: 1 !important;
	transform: none !important;
}

/* alert section */

.container {
	position: absolute;
	top: 32px;
	right: 0;
	overflow: hidden;
	max-height: 100vh;
	overflow: hidden;
}

.alert-section {
	padding: 20px 0;
	margin-right: 32px;
    box-shadow: 2px 2px 5px #ddd;
	display: flex;
    width: 450px;
    border-left: 4px solid;
    border-radius: 2px;
    align-items: center;
    font-size: 16px;
    background-color: #fff;
    text-align: justify;
    transition: all .5s;
    z-index: 9999;
}

.alert-section--success {
	color: #47d764;
}

.alert-section--info {
	color: #2f86eb;
}

.alert-section--warning {
	color: #ffc021;
}

.alert-section--danger {
	color: #ff3232;
}


@keyframes sliderInRight {
	from {
		opacity: 0;
		transform: translateX(calc(100% - 100px));
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

.alert-section + .alert-section {
	margin-top: 20px;
}

.alert-section__icon {
	font-size: 26px;
	padding: 0 20px;
}

.alert-section__text {
	flex-grow: 1;
}

.alert-section__title,
.alert-section__desc {
	color: #000;
}

.alert-section__title:first-letter,
.alert-section__desc:first-letter {
	text-transform: capitalize;
}

.alert-section__title {

}

.alert-section__desc {
	line-height: 1.5;
	padding-top: 5px;
	font-size: 14px;
}

.alert-section__icon--close {
	color: #aaa;
	transition: all .5s;
}

.alert-section__icon--close:hover {
	cursor: pointer;
	color: #000;
}

/* responsive */

@media (max-width: 880px){
	.main .btn-section {
		align-content: center;
	}

	.btn + .btn {
		margin-top: 20px;
	}
}

@media (max-width: 414px) {
	.alert-section {
		margin-right: 10px;
		width: 95vw;
	}
}
